#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.parentBody {
  align-items: center;
  justify-content: center;
}

.mainBody {
  display: flex;
  width: 80%;
  margin: 10% 0 0 12%;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.footerBox {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  justify-content: center;
  background-color: white;
}

#footerText {
  text-align: center;
}

#mainBodyDiv {
  padding: 2px 16px;
  border: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: Verdana,sans-serif;
}

#mainBodyDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}